<div class="my_footer">
    <div class="my_footer_left_menu">
        <div class="my_text_menu_title"></div>
        <div class="my_text_menu_body"></div>
    </div>
</div>

<script src="/js/myDrawer.js"></script>
</body>

</html>